APP_NAME=orz-ai
AWS_PROFILE=
AWS_REGION=eu-west-3

# Cloudflare
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_ZONE_ID=

# Domain
APP_DOMAIN=
APP_SUBDOMAIN=

# Web deployment
ENABLE_WEB=true
WEB_MODE=static

# API strategy
ENABLE_API=false
API_MODE=laravel
API_DEPLOY_TARGET=lambda-bref
